.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 0 0 5px;
  background-color: #2097ff;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 34px;
  font-weight: 700;
  color: #edabf3;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #edabf3;
  background-color: #2097ff;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #9059ff;
}

.slogan {
  margin: auto;
  width: 50%;
  text-align: center;
  align-content: center;

}
