.add-new-toy-title {
    text-decoration: underline;
    margin: auto;

    width: 50%;
    text-align: center;
}

.add-toy-form {
    
    margin: auto;
    width: 100;
    text-align: center;


  justify-content: space-evenly;
  align-content: center;
}

